page-connection {
    .connection-content {
        background: #32DB64;
        .logo-row {
            padding-top: 20%;
        }
        ion-row {
            align-items: center;
            text-align: center;
        }
    }
}