<ion-header no-border>
    <ion-navbar color="secondary">
        <button class="menu-btn" ion-button menuToggle color="primary" style="margin: 0 -50px 0 8px" start>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title><img alt="logo" height="40" src="assets/images/lmsLogo.png"> </ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
        <ion-title>Leave Balance</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="home-content" padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-fab top right edge>
        <button ion-fab (click)="openModal()" color="energized" mini><ion-icon name="add"></ion-icon></button>
    </ion-fab>
    <ion-fab right bottom>
        <button ion-fab color="light" [hidden]="hide" mini><ion-icon name="arrow-dropleft"></ion-icon></button>
        <ion-fab-list side="left">
            <button ion-fab (click)="openActions()"><ion-icon name="checkbox-outline"></ion-icon></button>
            <button ion-fab (click)="openCalendar()"><ion-icon name="calendar"></ion-icon></button>
        </ion-fab-list>
    </ion-fab>

    <ion-list>
        <ion-card *ngFor="let item of summary" (click)="toggleDetails(item)">

            <ion-card-header>
                <ion-icon color="primary" item-right [name]="item.icon"></ion-icon>
                {{item.type}}
            </ion-card-header>

            <ion-card-content>
                <div *ngIf="!item.showDetails">
                    <button ion-button icon-left clear small>
                    <ion-icon name="calendar"></ion-icon>
                    <div>Used: {{item.usedDays}}</div>
                </button>
                    <button ion-button icon-left clear small>
                    <ion-icon name="calendar"></ion-icon>
                    <div>Left: {{item.remainingDays}}</div>
                </button>
                </div>
            </ion-card-content>

        </ion-card>
    </ion-list>

</ion-content>