page-intro {
    .slider-content {
        background: #0063F3;
        img {
            margin: 5% auto 40px;
            width: 85%;
        }
        ion-slide.middle {
            margin-top: 70%;
            height: 100% !important;
        }
    }
    .swiper-pagination-bullet-active {
        background: #A713E8;
    }
}