page-cancel {
    .cancel-content {
        //background: #32DB64;
        ion-row {
            align-items: center;
            text-align: center;
        }
        .scroll-content {
            border-top: 0px !important;
        }
    }
}