page-password {
    .password-content {
        //background: #32DB64;
        ion-row {
            align-items: center;
            text-align: center;
        }
        ion-item {
            background: transparent !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 5px;
            border-top: 0px !important;
            border-bottom: 1px !important;
            box-shadow: none !important;
        }
        .toast-container {
            font-family: Helvetica;
            background-color: red
        }
        .submit-btn {
            background: #FFDD55;
            border-radius: 30px !important;
            border: 1px solid #ffffff;
            color: blue;
            font-family: serif;
            font-size: 0.9em;
        }
    }
}